# CREACIÓN Y MANIPULACIÓN DE DATAFRAMES
### Creación de un DataFrame

In [114]:
nombre_paises = ['China', 'India', 'Estados Unidos', 'Indonesia', 'Pakistan','Brasil','Nigeria','Bangladesh','Rusia','Mexico']
encabezado = ['poblacion', 'porcentaje']

datos = [[1439, 18.47],[1380, 17.70],[331,4.25],[273,3.51],[220,2.83],[212, 2.73],[206,2.64], [164, 2.11], [145, 1.87], [128, 1.65]]

In [115]:
import pandas as pd
paises = pd.DataFrame(datos, index = nombre_paises, columns = encabezado)
paises

                poblacion  porcentaje
China                1439       18.47
India                1380       17.70
Estados Unidos        331        4.25
Indonesia             273        3.51
Pakistan              220        2.83
Brasil                212        2.73
Nigeria               206        2.64
Bangladesh            164        2.11
Rusia                 145        1.87
Mexico                128        1.65

In [116]:
datos = {'China':[1439, 18.47], 'India':[1380, 17.70], 'Estados Unidos':[331,4.25], 'Indonesia':[273,3.51],'Pakistan': [220,2.83], 'Brasil': [212, 2.73], 'Nigeria': [206,2.64], 'Bangladesh':[164, 2.11] , 'Rusia': [145, 1.87],'Mexico': [128, 1.65] }
paises = pd.DataFrame(datos, index = encabezado, columns = nombre_paises)
paises = paises.T
paises

                poblacion  porcentaje
China              1439.0       18.47
India              1380.0       17.70
Estados Unidos      331.0        4.25
Indonesia           273.0        3.51
Pakistan            220.0        2.83
Brasil              212.0        2.73
Nigeria             206.0        2.64
Bangladesh          164.0        2.11
Rusia               145.0        1.87
Mexico              128.0        1.65

## Atributos básicos de un DataFrame

In [117]:
paises.dtypes

poblacion     float64
porcentaje    float64
dtype: object

In [118]:
paises.dtypes

poblacion     float64
porcentaje    float64
dtype: object

In [119]:
paises.size, paises.values

(20,
 array([[1439.  ,   18.47],
        [1380.  ,   17.7 ],
        [ 331.  ,    4.25],
        [ 273.  ,    3.51],
        [ 220.  ,    2.83],
        [ 212.  ,    2.73],
        [ 206.  ,    2.64],
        [ 164.  ,    2.11],
        [ 145.  ,    1.87],
        [ 128.  ,    1.65]]))

In [120]:
print( 'este es el indice del dataframe',paises.index)
print('estas son las columnas del dataframe:', paises.columns)

este es el indice del dataframe Index(['China', 'India', 'Estados Unidos', 'Indonesia', 'Pakistan', 'Brasil',
       'Nigeria', 'Bangladesh', 'Rusia', 'Mexico'],
      dtype='object')
estas son las columnas del dataframe: Index(['poblacion', 'porcentaje'], dtype='object')

In [121]:
paises['poblacion'], paises[['poblacion','porcentaje']]

(China             1439.0
 India             1380.0
 Estados Unidos     331.0
 Indonesia          273.0
 Pakistan           220.0
 Brasil             212.0
 Nigeria            206.0
 Bangladesh         164.0
 Rusia              145.0
 Mexico             128.0
 Name: poblacion, dtype: float64,
                 poblacion  porcentaje
 China              1439.0       18.47
 India              1380.0       17.70
 Estados Unidos      331.0        4.25
 Indonesia           273.0        3.51
 Pakistan            220.0        2.83
 Brasil              212.0        2.73
 Nigeria             206.0        2.64
 Bangladesh          164.0        2.11
 Rusia               145.0        1.87
 Mexico              128.0        1.65)

## Metodos básicos comunes de DataFrames

In [122]:
paises['poblacion'] = paises['poblacion'].astype('int')

In [123]:
paises.head(), paises.tail()

(                poblacion  porcentaje
 China                1439       18.47
 India                1380       17.70
 Estados Unidos        331        4.25
 Indonesia             273        3.51
 Pakistan              220        2.83,
             poblacion  porcentaje
 Brasil            212        2.73
 Nigeria           206        2.64
 Bangladesh        164        2.11
 Rusia             145        1.87
 Mexico            128        1.65)

In [124]:
paises.sort_values(by=['porcentaje'])

                poblacion  porcentaje
Mexico                128        1.65
Rusia                 145        1.87
Bangladesh            164        2.11
Nigeria               206        2.64
Brasil                212        2.73
Pakistan              220        2.83
Indonesia             273        3.51
Estados Unidos        331        4.25
India                1380       17.70
China                1439       18.47

In [125]:
paises.sort_index()

                poblacion  porcentaje
Bangladesh            164        2.11
Brasil                212        2.73
China                1439       18.47
Estados Unidos        331        4.25
India                1380       17.70
Indonesia             273        3.51
Mexico                128        1.65
Nigeria               206        2.64
Pakistan              220        2.83
Rusia                 145        1.87

## Agregar y borrar renglones y columnas

In [126]:
tasa_fertilidad = [1.7, 2.2, 1.8, 2.3, 3.6, 1.7, 5.4, 2.1, 1.8, 2.1]

In [127]:
paises['tasa_fertilidad']=tasa_fertilidad
paises

                poblacion  porcentaje  tasa_fertilidad
China                1439       18.47              1.7
India                1380       17.70              2.2
Estados Unidos        331        4.25              1.8
Indonesia             273        3.51              2.3
Pakistan              220        2.83              3.6
Brasil                212        2.73              1.7
Nigeria               206        2.64              5.4
Bangladesh            164        2.11              2.1
Rusia                 145        1.87              1.8
Mexico                128        1.65              2.1

In [128]:
#del paises['tasa_fertilidad']
paises

                poblacion  porcentaje  tasa_fertilidad
China                1439       18.47              1.7
India                1380       17.70              2.2
Estados Unidos        331        4.25              1.8
Indonesia             273        3.51              2.3
Pakistan              220        2.83              3.6
Brasil                212        2.73              1.7
Nigeria               206        2.64              5.4
Bangladesh            164        2.11              2.1
Rusia                 145        1.87              1.8
Mexico                128        1.65              2.1

In [129]:
paises.drop('tasa_fertilidad', axis = 1, inplace=True )

In [130]:
#paises.pop['tasa_fertilidad']

In [131]:
# Japon -> 126, 1.62
renglon = pd.Series(name='Japon', data = [126.0, 1.62], index= ['poblacion', 'porcentaje'])
renglon

poblacion     126.00
porcentaje      1.62
Name: Japon, dtype: float64

In [132]:
paises = paises.append(renglon)
print(paises)

AttributeError: 'DataFrame' object has no attribute 'append'

In [133]:
# Here's the change:
paises = pd.concat([paises, renglon.to_frame().T])

print(paises)

                poblacion  porcentaje
China              1439.0       18.47
India              1380.0       17.70
Estados Unidos      331.0        4.25
Indonesia           273.0        3.51
Pakistan            220.0        2.83
Brasil              212.0        2.73
Nigeria             206.0        2.64
Bangladesh          164.0        2.11
Rusia               145.0        1.87
Mexico              128.0        1.65
Japon               126.0        1.62

In [134]:
paises.drop(['Bangladesh', 'Japon'], axis = 0)

                poblacion  porcentaje
China              1439.0       18.47
India              1380.0       17.70
Estados Unidos      331.0        4.25
Indonesia           273.0        3.51
Pakistan            220.0        2.83
Brasil              212.0        2.73
Nigeria             206.0        2.64
Rusia               145.0        1.87
Mexico              128.0        1.65

## Funciones de estadístia y agregación básicas

In [135]:
paises

                poblacion  porcentaje
China              1439.0       18.47
India              1380.0       17.70
Estados Unidos      331.0        4.25
Indonesia           273.0        3.51
Pakistan            220.0        2.83
Brasil              212.0        2.73
Nigeria             206.0        2.64
Bangladesh          164.0        2.11
Rusia               145.0        1.87
Mexico              128.0        1.65
Japon               126.0        1.62

In [136]:
paises.drop(['Japon'], axis =0, inplace = True)

In [137]:
paises

                poblacion  porcentaje
China              1439.0       18.47
India              1380.0       17.70
Estados Unidos      331.0        4.25
Indonesia           273.0        3.51
Pakistan            220.0        2.83
Brasil              212.0        2.73
Nigeria             206.0        2.64
Bangladesh          164.0        2.11
Rusia               145.0        1.87
Mexico              128.0        1.65

In [143]:
paises.min()

poblacion     128.00
porcentaje      1.65
dtype: float64

In [144]:
paises.describe()

         poblacion  porcentaje
count    10.000000   10.000000
mean    449.800000    5.776000
std     509.476376    6.534478
min     128.000000    1.650000
25%     174.500000    2.242500
50%     216.000000    2.780000
75%     316.500000    4.065000
max    1439.000000   18.470000

In [145]:
paises.cumsum()

                poblacion  porcentaje
China              1439.0       18.47
India              2819.0       36.17
Estados Unidos     3150.0       40.42
Indonesia          3423.0       43.93
Pakistan           3643.0       46.76
Brasil             3855.0       49.49
Nigeria            4061.0       52.13
Bangladesh         4225.0       54.24
Rusia              4370.0       56.11
Mexico             4498.0       57.76